{% extends "blog/base_generic.html" %}


{% block content %}
    {% if messages %}
            {% for m in messages %}
            <div class="alert {{ m.tags }} alert-dismissible shadow fade show" role="alert">
             <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">Close</span>
             </button>
                {{ m }}
            </div>
            {% endfor %}
    {% endif %}

    <div class="posts_wrapper">
    {% for post in object_list %}
        <section class="post">
            <img src="{{ post.image.url }}" class="img_for_post_list" alt="Post Image">
            <div class="post_info">
                <h2 class="margin_bottom_24">
                    <a href="{% url 'blog:post_details' pk=post.id %}">{{ post.heading }}</a>
                    {% if request.user.id == post.author.id %}
                        <a class="update_link" href="{% url 'blog:post_update' pk=post.id %}">Update</a>
                    {% endif %}
                </h2>
                <div class="author_wrapper">
                    <span class="post_author">
                        <a href="{% url 'blog:author_info' pk=post.author.id %}">{{ post.author }}</a>
                    </span>
                    <span class="post_created_at">
                        {{ post.pub_date }}
                    </span>
                </div>
                <p class="post_short_def">
                    {{ post.short_definition }}
                </p>
            </div>
        </section>
    {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        </span>
    </div>
{% endblock %}